*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    display: inline-block;
    position: relative;
    padding-bottom: 25px;
    left: 40vw;
    top: 20vh;
    border: 2px solid black;
    border-radius: 10px ;
}

img{
    width: 250px;

}

button {
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    width: 200px;
    border: 1px solid red;
}